In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Importing file

In [5]:
df = pd.read_csv(r"C:\Users\Shant\OneDrive\Documents\Dataset\StressLevelDataset.csv")

In [6]:
df.head()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
0,14,20.0,0,11,2,1,2,4.0,2,3,...,2.0,3,2,3,3.0,2,3,3,2,1
1,15,8.0,1,15,5,3,1,4.0,3,1,...,2.0,1,4,1,5.0,1,4,5,5,2
2,12,18.0,1,14,2,1,2,2.0,2,2,...,2.0,2,3,3,2.0,2,3,2,2,1
3,16,12.0,1,15,4,3,1,NaN,4,2,...,2.0,2,4,1,4.0,1,4,4,5,2
4,16,28.0,0,7,2,3,5,NaN,3,2,...,3.0,4,3,1,2.0,1,5,0,5,1

## Data analysis

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 21 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anxiety_level                 1100 non-null   int64
 1   self_esteem                   963 non-null    float64
 2   mental_health_history         1100 non-null   int64
 3   depression                    1100 non-null   int64
 4   headache                      1100 non-null   int64
 5   blood_pressure                1100 non-null   int64
 6   sleep_quality                 1100 non-null   int64
 7   breathing_problem             905 non-null    float64
 8   noise_level                   1100 non-null   int64
 9   living_conditions             1100 non-null   int64
 10  safety                        1100 non-null   int64
 11  basic_needs                   93 non-null     float64
 12  academic_performance          1100 non-null   int64
 13  study_load                    1100 non-null   int64
 14  teacher_student_relationship  1100 non-null   int64
 15  future_career_concerns        740 non-null    float64
 16  social_support                1100 non-null   int64
 17  peer_pressure                 1100 non-null   int64
 18  extracurricular_activities    1100 non-null   int64
 19  bullying                      1100 non-null   int64
 20  stress_level                  1100 non-null   int64
dtypes: float64(4), int64(17)
memory usage: 180.6 KB

In [8]:
df.describe()

,anxiety_level,self_esteem,mental_health_history,depression,headache,blood_pressure,sleep_quality,breathing_problem,noise_level,living_conditions,...,basic_needs,academic_performance,study_load,teacher_student_relationship,future_career_concerns,social_support,peer_pressure,extracurricular_activities,bullying,stress_level
count,1100.000000,963.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000,905.000000,1100.000000,1100.000000,...,93.000000,1100.000000,1100.000000,1100.000000,740.000000,1100.000000,1100.000000,1100.000000,1100.000000,1100.000000
mean,11.063636,17.673936,0.492727,12.555455,2.508182,2.181818,2.660000,2.737017,2.649091,2.518182,...,3.010753,2.772727,2.621818,2.648182,2.641892,1.881818,2.734545,2.767273,2.617273,0.996364
std,6.117558,8.956793,0.500175,7.727008,1.409356,0.833575,1.548383,1.424893,1.328127,1.119208,...,1.410324,1.414594,1.315781,1.384579,1.517646,1.047826,1.425265,1.417562,1.530958,0.821673
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.000000,11.000000,0.000000,6.000000,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,...,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1.000000,0.000000
50%,11.000000,19.000000,0.000000,12.000000,3.000000,2.000000,2.500000,2.000000,3.000000,2.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.500000,3.000000,1.000000
75%,16.000000,25.000000,1.000000,19.000000,3.000000,3.000000,4.000000,4.000000,3.000000,3.000000,...,4.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,2.000000
max,21.000000,30.000000,1.000000,27.000000,5.000000,3.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,3.000000,5.000000,5.000000,5.000000,2.000000

In [9]:
df.columns

Index(['anxiety_level', 'self_esteem', 'mental_health_history', 'depression',
       'headache', 'blood_pressure', 'sleep_quality', 'breathing_problem',
       'noise_level', 'living_conditions', 'safety', 'basic_needs',
       'academic_performance', 'study_load', 'teacher_student_relationship',
       'future_career_concerns', 'social_support', 'peer_pressure',
       'extracurricular_activities', 'bullying', 'stress_level'],
      dtype='object')

## Hadeling Missing Values

In [10]:
print(df['self_esteem'].isnull().sum())
print(df['breathing_problem'].isnull().sum())
print(df['basic_needs'].isnull().sum())
print(df['future_career_concerns'].isnull().sum())

137
195
1007
360

In [11]:
print(f"Mean of Self Esteem: {df['self_esteem'].mean()}")
print(f"Meadian of Self Esteem: {df['self_esteem'].median()}")
print(f"Mode of Self Esteem: {df['self_esteem'].mode()}")

Mean of Self Esteem: 17.673935617860852
Meadian of Self Esteem: 19.0
Mode of Self Esteem: 0    25.0
Name: self_esteem, dtype: float64

### I will apply mean reason being the max value of Self Esteem is 30, mean is perfect for this circumstances

In [12]:
df['self_esteem'].fillna(df['self_esteem'].mean(), inplace=True)

C:\Users\Shant\AppData\Local\Temp\ipykernel_16336\4130730580.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['self_esteem'].fillna(df['self_esteem'].mean(), inplace=True)

In [13]:
print(f"Mean of Basic Need: {df['basic_needs'].mean()}")
print(f"Meadian of Basic Need: {df['basic_needs'].median()}")
print(f"Mode of Basic Need: {df['basic_needs'].mode()}")

Mean of Basic Need: 3.010752688172043
Meadian of Basic Need: 3.0
Mode of Basic Need: 0    2.0
Name: basic_needs, dtype: float64

In [14]:
print(f"Max Value: {df['basic_needs'].max()}, Minimum Value: {df['basic_needs'].min()}")

Max Value: 5.0, Minimum Value: 1.0

### I will apply mean reason being the max value of Basic need is 5, median is perfect for this circumstances

In [15]:
df['basic_needs'].fillna(df['basic_needs'].median(), inplace=True)

C:\Users\Shant\AppData\Local\Temp\ipykernel_16336\2115846938.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['basic_needs'].fillna(df['basic_needs'].median(), inplace=True)

In [16]:
print(f"Mean of Basic Need: {df['future_career_concerns'].mean()}")
print(f"Meadian of Basic Need: {df['future_career_concerns'].median()}")
print(f"Mode of Basic Need: {df['future_career_concerns'].mode()}")

Mean of Basic Need: 2.641891891891892
Meadian of Basic Need: 2.0
Mode of Basic Need: 0    1.0
Name: future_career_concerns, dtype: float64

In [17]:
print(f"Max Value: {df['future_career_concerns'].max()}, Minimum Value: {df['future_career_concerns'].min()}")

Max Value: 5.0, Minimum Value: 0.0

### I will apply mean reason being the max value of future_career_concerns is 30, mean is perfect for this circumstances

In [18]:
df['future_career_concerns'].fillna(df['future_career_concerns'].median(), inplace=True)

C:\Users\Shant\AppData\Local\Temp\ipykernel_16336\966798276.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['future_career_concerns'].fillna(df['future_career_concerns'].median(), inplace=True)

In [19]:
print(f"Mean of Breathing Problem: {df['breathing_problem'].mean()}")
print(f"Meadian of Breathing Problem: {df['breathing_problem'].median()}")
print(f"Mode of Breathing Problem: {df['breathing_problem'].mode()}")

Mean of Breathing Problem: 2.737016574585635
Meadian of Breathing Problem: 2.0
Mode of Breathing Problem: 0    2.0
Name: breathing_problem, dtype: float64

In [20]:
print(f"Max Value: {df['breathing_problem'].max()}, Minimum Value: {df['breathing_problem'].min()}")

Max Value: 5.0, Minimum Value: 0.0

## The data points are in breathing_problem is symmetric

In [21]:
df['breathing_problem'].fillna(df['breathing_problem'].median(), inplace=True)

C:\Users\Shant\AppData\Local\Temp\ipykernel_16336\2490329876.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['breathing_problem'].fillna(df['breathing_problem'].median(), inplace=True)